.whatspice {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 30% -100%, rgba(153, 118, 70, 1) 25%, rgba(153, 118, 70, 1) 85%, rgba(254, 250, 193, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 30% -100%, rgba(153, 118, 70, 1) 25%, rgba(153, 118, 70, 1) 85%, rgba(254, 250, 193, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 30% -100%, rgba(153, 118, 70, 1) 25%, rgba(153, 118, 70, 1) 85%, rgba(254, 250, 193, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 30% -100%, rgba(153, 118, 70, 1) 25%, rgba(153, 118, 70, 1) 85%, rgba(254, 250, 193, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 30% -100%, rgba(153, 118, 70, 1) 25%, rgba(153, 118, 70, 1) 85%, rgba(254, 250, 193, 1) 100%);


  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.whatspice__top-section {
  display: flex;
}

.whatspice__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}
.whatspice__title {
  font-size: 40px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: var(--font-family);
}

/* .whatspice__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 200px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
} */

.whatspice__bottom-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.whatspice__button {
  padding: 0.5rem 1rem;
  color: var(--color-button-text);
  background: var(--color-button-bg);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;  
}

@media screen and (max-width: 850px) {
  .whatspice__header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  /* .whatspice__text {
      margin-top: 1rem;
  } */
}

@media screen and (max-width: 650px) {
  .whatspice__title {
      font-size: 28px;
      line-height: 40px;
  }
}
