@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --chamoisee: #997646;
  --ecru: #caac75;
  --lemon-chiffon: #fefac1;
  --light-green: #a5ee9d;
  --yellow-green: #82cd47;
  --kelly-green: #54b435;
  --forest-green: #379237;
  --cal-poly-green: #1C4A1C;

  --font-family: 'Josefin Sans', sans-serif;

  --gradient-text: linear-gradient(71deg, #FFFFFF 0%, #F4E95A 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);


  --color-bg: #1C4A1C;
  --color-signupbutton: #FF4820;
  --color-footer: #379237;
  --color-text: #fefac1;
}


