@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --chamoisee: #997646ff;
  --ecru: #caac75ff;
  --lemon-chiffon: #fefac1ff;
  --light-green: #a5ee9dff;
  --malachite: #73db6aff;
  --kelly-green: #3ec030ff;

  --font-family: 'Josefin Sans', sans-serif;

  --color-bg: #997646ff;
  --color-signupbutton: #FF4820;
  --color-footer: #997646ff;
}


