.header {
  display: flex;
}

.header--padding {
  padding: 4rem 6rem;
}

.header__wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;  
}

.header__h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;

  /* or 121% */
  letter-spacing: -0.04em;
}

.header__paragraph {
  font-family: var(--font-family);
  color: var(--color-text);
}

.header__paragraph--large {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin-top: 1.5rem;
}

.header__paragraph--small {
  margin: 0 0 0 1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
}



.header__input-wrapper {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.header__input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  color: var(--color-text);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
}

.header__button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image {
  width: 100%;
  height: auto;
}

.header__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.header__people-image {
  width: 181.79px;
  height: 38px;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }

  .header__wrapper {
    margin: 0 0 3rem;
  }
}


@media screen and (max-width: 650px) {
  .header__h1 {
    font-size: 48px;
    line-height: 60px;    
  }

  .header__paragraph--large {
    font-size: 16px;
    line-height: 24px;    
  }

  .header__paragraph--small {
    margin: 0;
  }

  .header__people {
    flex-direction: column;
  }

  .header__input,
  .header__button {
    font-size: 14px;
    line-height: 24px;    
  }
}

@media screen and (max-width: 490px) {
  .header--padding {
    padding: 0rem 1rem;
  }

  .header__h1 {
    font-size: 36px;
    line-height: 48px;   
  }

  .gpt3__header p {
    font-size: 14px;
    line-height: 24px;
  }
  
  .header__input,
  .header__button {
    font-size: 12px;
    line-height: 16px;    
  }
  
}